<!DOCTYPE HTML>
<!--
	Template: Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Moodie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/music-iconn.jpg" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-music"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Moodie</h1>
								<p>A free music generator for you. anytime. any mood.</p>
							</div>
						</div>
						<nav>
							<ul>
								<form action="/results" method="POST">
    								<input type="submit" value="cheerful" 
        								name="mood" id="form_buttons" />
        							<input type="submit" value="mellow" 
        								name="mood" id="form_buttons" />
        							<input type="submit" value="gloomy" 
        								name="mood" id="form_buttons" />
        							<input type="submit" value="pumped" 
        								name="mood" id= "form_buttons" />
        							<input type="submit" value="angry" 
        								name="mood" id="form_buttons" />
        							<input type="submit" value="focused" 
        								name="mood" id="form_buttons" />
        							<input type="submit" value="smitten" 
        								name="mood" id="form_buttons" />
        							<input type="submit" value="nostalgic" 
        								name="mood" id="form_buttons" />
								</form>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
					  
					  <!-- about -->
							<article id="about">
								<h2 class="major">about</h2>
								<span class="image main"><img src="images/aboutpic.jpg" alt="" /></span>
								<p>Rachel, Maddy, and Paula created Moodie at Kode with Klossy in Austin, Texas.
								<ul>
								  <li>Rachel had never coded before attending KwK. She enjoys playing ukulele and guitar, hanging with friends, and petting dogs.</li>
								  <li>Maddy spends all of her time (outside of coding) in theatre, playing piano, and taking pictures of her friends and her dog, Roxi.</li>
								  <li>Paula is either binge watching or listening to live music at any given time. She plans on studying Computer Science at UT in the fall. </li>
								</ul>
								</p>
								<ul class="icons">
										<li><a href="https://twitter.com/kodewithklossy?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.facebook.com/kodewithklossy/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/kodewithklossy/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://github.com/paulapaysan/sinatra-app-template/" class="icon fa-github"><span class="label">Github</span></a></li>
									</ul>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">about the <a href='#about'>creators</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
